html, body {height:100%; width:100%}
#main-container {
    width:80%;
    text-align: center;
    border: 100px solid darkgray;
}
body {
    display:flex;
    justify-content: center;
}
header {
    background-color: navy;
    color: white;
    font-size: 24px;
    text-align:center;
    height: 10%;
    padding: 1% 0;
}
#middle-section {
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#main-section {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}
#top-section {
    text-align: center;
    display:flex;
    justify-content: space-evenly;
}
footer {
    background-color: blue;
    color:white;
    font-size: 18px;
    text-align: center;
    height: 10%;
    padding: 1% 0;
}
form{
    width: 70%;
    padding: 1em;
}
textarea {
    width: 70%;
    min-height: 200px;
}