#table-render-space{
    background-color: peachpuff;
    height: 10%;
}
fieldset{
    background: lightgray;
    display: flex;
    justify-content: space-evenly;
}
fieldset section {
    border:0px dotted blue;
    margin:3px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;   
}
#table-render-space {
    width: 70%;
    display: flex;
    justify-content: center;
}
#table-html-space {
    width: 70%;
    display: flex;
    justify-content: center;
}